In [3]:
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta

In [5]:
d1 = date(2019,3,12)
print(d1)
print(d1.year)
print(d1.month)
print(d1.day)

2019-03-12
2019
3
12

In [7]:
t1 = time(23,10,59)
print(t1)
print(t1.hour)
print(t1.minute)
print(t1.second)

23:10:59
23
10
59

In [10]:
print(date.today())

2020-11-20

In [11]:
print(date.max)
print(date.min)
print(time.max)
print(time.min)

9999-12-31
0001-01-01
23:59:59.999999
00:00:00

In [12]:
d1 = datetime(2019,3,12,15,17)

In [13]:
print(d1)

2019-03-12 15:17:00

In [15]:
print(d1.date().year)

2019

In [16]:
print(d1.time().hour)

15

In [18]:
print(datetime.max)
print(datetime.min)

9999-12-31 23:59:59.999999
0001-01-01 00:00:00

In [23]:
now = datetime.now()
print(now)

2020-11-20 11:18:23.555454

In [25]:
print(now.year)
print(now.month)

2020
11

In [28]:
new_dt = now.replace(year=2018)
print(new_dt)

2018-11-20 11:18:23.555454

In [30]:
print(now)

2020-11-20 11:18:23.555454

In [42]:
dt = datetime.strptime("30/08/2018", "%d/%m/%Y")# y - год в виде двух чисел, Y - в виде 4х
print(dt)

dt = datetime.strptime("29/03/2018 10:40","%d/%m/%Y %H:%M")
print(dt)

dt = datetime.strptime("2018-06-28","%Y-%m-%d")
print(dt)

2018-08-30 00:00:00
2018-03-29 10:40:00
2018-06-28 00:00:00

In [44]:
import locale

locale.setlocale(locale.LC_ALL, "")

'Ukrainian_Ukraine.1251'

In [45]:
now = datetime.now()

In [46]:
print(now.strftime("%Y-%m-%d (%a)"))

2020-11-20 (Пт)

In [47]:
print(now.strftime("%Y-%m-%d (%A)"))

2020-11-20 (п'ятниця)

In [53]:
detail = timedelta(days=3, hours=2, minutes=10)
print(detail)

3 days, 2:10:00

In [54]:
delta = timedelta(days=2, hours=1,minutes=5)

In [55]:
print(delta - detail)
print(detail - delta)

-2 days, 22:55:00
1 day, 1:05:00

In [60]:
my_birthday = date(1997,10, 8)

delta = date.today() - my_birthday
print(delta)

my_age=int(delta.days/365)
print(my_age)

8444 days, 0:00:00
23

In [62]:
wife_birthday = date(1998, 9, 6)
am_i_older = my_birthday < wife_birthday
print(am_i_older)

True